In [177]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    for j in range(n-i):
        print(' ',end='')
    for j in range(n-i):
        print(' ', end='')
    for j in range(i+1):
        print('*',end='')
    print()
for i in range(n+1):
    for j in range(n-i+1):
        print('*', end='')
    for j in range(i):
        print(' ',end='')
    for j in range(i):
        print(' ',end='')
    for j in range(n-i+1):
        print('*', end='')
    print()

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [73]:
flag=True
for i in range(n):
    for j in range(i+1):
        if(flag):
            print(1,end=' ')
        else:
            print(0,end=' ')
        flag=not flag
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [100]:
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
        k=j+1
    for j in range(2*(n-i-1)):
        print(' ',end='')
    for j in range(k,0,-1):
        print(j,end='')
    print()

1        1
12      21
123    321
1234  4321
1234554321

In [151]:
n=4

In [152]:
for i in range(n):
    a=chr(ord('A')-1)
    for j in range((n-(i))):
        print(' ',end=' ')
    for j in range(((2*i+1)//2)+1):
        a=chr(ord(a)+1)
        print(a,end=' ')
    for j in range(((2*i+1)//2)):
        a=chr(ord(a)-1)
        print(a,end=' ')
    for j in range((n-(i))):
        print(' ',end=' ')
    print()

        A
      A B A
    A B C B A
  A B C D C B A

In [113]:
chr(ord('A'))

'A'

In [166]:
n=5

In [167]:

for i in range(n):
    a=chr(ord('A')+n-i-1)
    for j in range(i+1):
        print(a,end=' ')
        a=chr(ord(a)+1)
    print()

E
D E
C D E
B C D E
A B C D E

In [183]:
for i in range(n):
    if(i==0 or i==n-1):
        for j in range(n):
            print('*',end='')
        print()
    else:
        for j in range(n):
            if(j==0 or j==n-1):
                print('*',end='')
            else:
                print(' ',end='')
        print()

*****
*   *
*   *
*   *
*****

In [210]:
n=4

In [212]:
for i in range(2*n-1):
    for j in range(2*n-1):
        top=i
        bottom=j
        right=(2*n-2)-j
        left=(2*n-2)-i
        a=n-min(top,bottom,left,right)
        print(a,end='')
        a=n-1-j
    print()

4444444
4333334
4322234
4321234
4322234
4333334
4444444